{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout d'image
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez ajouter une image</h1>

            {{ form_start(mediaForm) }}
            {{ form_label(mediaForm.title, 'Titre de l\'image :', {'label_attr' : {'class'  : 'input-product under'}}) }}
            {{ form_widget(mediaForm.title, {'attr' : {'class'  : 'input-product', 'placeholder' : 'Entrer le nom de la licence'}}) }}
            {{ form_label(mediaForm.src, 'Fichier de l\'image :', {'label_attr' : {'class'  : 'input-product under'}}) }}
            {{ form_widget(mediaForm.src, {'attr' : {'class'  : 'input-product media-js', 'name' : 'src'}} ) }}
            {{ form_widget(mediaForm.submit, {'attr' : {'class'  : 'button-product', 'value' : 'Enregister'}} ) }}
            {{ form_end(mediaForm) }}

        </div>
    </div>
{% endblock main %}