{% extends 'admin/base.html.twig' %}

{% block metaTitle %}
    Ajout ou modification de licence
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez ajouter ou modifier une licence licence</h1>

            {{ form_start(licenceForm) }}
            {{ form_label(licenceForm.name, 'Nom de la licence :', {'label_attr' : {'class'  : 'input-product under'}}) }}
            {{ form_widget(licenceForm.name, {'attr' : {'class'  : 'input-product', 'placeholder' : 'Entrer le nom de la licence'}}) }}
            {{ form_label(licenceForm.description, 'Description de la licence :', {'label_attr' : {'class'  : 'input-product under'}}) }}
            {{ form_widget(licenceForm.description, {'attr' : {'class'  : 'input-product', 'placeholder' : 'Entrer la description de la licence'}} ) }}
            {{ form_label(licenceForm.media, 'Image de la licence :', {'label_attr' : {'class'  : 'input-product under'}}) }}
            {{ form_widget(licenceForm.media, {'attr' : {'class'  : 'input-product media-js', 'name' : 'media'}} ) }}
            {{ form_widget(licenceForm.submit, {'attr' : {'class'  : 'button-product', 'value' : 'Enregister'}} ) }}
            {{ form_end(licenceForm) }}

        </div>
    </div>
{% endblock main %}