<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nicolas SAMPAIO">
    <meta name="description" content="Site de e-commerce sur le super-héros">
    <meta name="keywords" content="super-héros, superman, batman, jouets, jeux vidéos, statuette">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block link %}{% endblock link %}
    <title>{% block metaTitle %}{% endblock metaTitle %}</title>

</head>
<body>

<header >
    <div class="header">
        <div class="w20">
            <a href="{{ path('admin_home') }}">
                Accueil{# <img class="w35" src="{{ asset('') }}"> #}
            </a>
        </div>
        <div class="search">
            <div class="medias">
                <a href="{{ path('admin_list_medias') }}">Images</a>
            </div>
            <div class="categories">
                <a href="{{ path('admin_list_categories') }}">Catégories</a>
            </div>
            <div class="licences">
                <a href="{{  path('admin_list_licences') }}">Licences</a>
            </div>
        </div>
        <div class="w40">
            <div class="basket">
                <a href="{{ path('admin_list_product') }}">Produits</a>
            </div>
            <div class="log">
                <a href="{{ path('app_login') }}">{% if app.user %}
                        {{ app.user.firstname }} {{ app.user.name  }}
                    {% endif %}
                    {% if app.user is null %}
                        Se connecter/S'inscrire
                    {% endif %}
                </a>
            </div>
        </div>
    </div>
</header>

<main class="main">
    {% block main %}
    {% endblock main %}
</main>

<footer >
    <div class="footer">
        <div class="admin-infos">
            <ul>
                <li>
                    <a href="{{ path('list_commands') }}">Commandes</a>
                </li>
                <li>
                    <a href="{{ path('admin_list_comments') }}">Commentaires</a>
                </li>
                <li>
                    <a href="{{ path('admin_list_notes') }}">Notes</a>
                </li>
            </ul>
        </div>
        <div class="up">
            <a href="#top">Retour en haut</a>
        </div>
        <div class="admin-infos">
            <ul>
                <li><a href="{{ path('admin_list_product') }}">Produits</a></li>
                <li><a href="{{  path('admin_list_licences') }}">Licences</a></li>
                <li><a href="{{ path('admin_list_categories') }}">Catégories</a></li>
            </ul>
        </div>
    </div>
</footer>

<script>
    function myFunction() {
        setTimeout(function(){ document.querySelector(".flash-notice").style.display = "none";}, 5000)
    }
    myFunction();
</script>
{% block script %}
{% endblock %}
</body>
</html>
