{% extends 'admin/base.html.twig' %}

{% block main %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        {% for categorie in categories %}
            <div class="card br">
                <img src="{{ asset('img/media/' ~ categorie.media) }}">
                <h2>
                    {{ categorie.description }}
                </h2>
                <a href="{{ path('admin_delete_category', {'id' : categorie.id} ) }}" class="delete">Supprimer la catégorie</a>
                <a href="{{ path('admin_category_update', {'id' : categorie.id} ) }}" class="update">Modifier la catégorie</a>
            </div>
        {% endfor %}
        <div class="page">
            {{ knp_pagination_render(categories) }}
        </div>
    </div>

    <div class="add-product">
        <a href="{{ path('admin_categorie_add') }}" class="add">Ajouter une catégorie</a>
    </div>

{% endblock %}