{% extends 'admin/base.html.twig' %}

{% block main %}
    {% for message in app.flashes('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container">
        {% for command in commands %}
            {% for card in cards %}
                {% if card.command_id == command.id %}
                    <div class="comment-card">
                        <p class="comment-p">{{ command.numberOrder }}</p>
                        {% if command.user %}
                            <p>Par {{ command.user.email }}</p>
                        {% else %}
                            <p>Par {{ command.email }}</p>
                        {% endif %}
                        <p>Prix : {{ command.price }} €</p>
                        <p>Le {{ command.date | date('d-m-y') }}</p>
                        <p>Liste des produits :</p>
                        <ul>
                            {% for product in command.products %}
                                {% if card.product_id == product.id %}
                                    <li>{{ product.name }} {{ product.price }} € ===> Nombre d'exemplaire(s) : {{ card.product_amount }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

            {% endfor%}
        {% endfor %}
        <div class="page">
            {{ knp_pagination_render(commands) }}
        </div>
    </div>



{% endblock %}