{% extends 'admin/base.html.twig' %}

{% block link %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block metaTitle %}
    Ajout d'products
{% endblock metaTitle %}

{% block main %}
    <div class="container-fluid1">
        <div class="row1 licence w95">
            <h1>Vous pouvez rajouter un product</h1>

            {{ {#  form(ProductForm) #} }}

           {#

           {{ form_start(productForm) }}

            {{ form_label(productForm.title, 'Nom :', {'label_attr' : {'class'  : 'label'}}) }}
            <div class="d-flex justify-content-center">
                <div class="w60">
                    {{ form_widget(productForm.name, {'attr' : {'class'  : 'form-control', 'placeholder' : 'Nom du produit'}}) }}
                </div>
            </div>
            <div >
                {{ form_errors(productForm.name) }}
            </div>


            {{ form_label(productForm.price, 'Contenu :', {'label_attr' : {'class'  : 'label'}}) }}
            <div class="d-flex justify-content-center">
                <div class="w60">
                    {{ form_widget(productForm.price, {'attr' : {'class'  : 'form-control', 'placeholder' : 'Prix du produit'}}) }}
                </div>
            </div>
            <div>
                {{ form_errors(productForm.price) }}
            </div>


            <div>
                {{ form_label(productForm.stock, 'Stock :', {'label_attr' : {'class'  : 'label'}}) }}
                <div>
                    {{ form_widget(productForm.stock, {'attr' : {'class'  : ''}}) }}
                </div>

            </div>


            <div>
                {{ form_label(productForm.category, 'Catégorie :', {'label_attr' : {'class'  : 'label'}}) }}
                <div>
                    {{ form_widget(productForm.category, {'attr' : {'class'  : ''}}) }}
                </div>

            </div>

            <div>
                {{ form_label(productForm.licence, 'Licence :', {'label_attr' : {'class'  : 'label'}}) }}
                <div>
                    {{ form_widget(productForm.licence, {'attr' : {'class'  : ''}}) }}
                </div>

            </div>

            <div>
                {{ form_widget(productForm.submit, {'attr' : {'class'  : 'btn btn-primary my-3'}, 'label': 'Enregister'}) }}
            </div>


            {{ form_end(productForm) }}
           #}


        </div>
    </div>
{% endblock main %}