<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Nicolas SAMPAIO">
    <meta name="description" content="Site de e-commerce sur le super-héros">
    <meta name="keywords" content="super-héros, superman, batman, jouets, jeux vidéos, statuette">
    <link rel="stylesheet" href="{{ asset('style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% block link %}{% endblock link %}
    <title>{% block metaTitle %}{% endblock metaTitle %}</title>

</head>
<body>

<header >
    <div class="header">
        <div class="w20">
            <a href="{{ path('front_home') }}">
                Accueil
            </a>
        </div>
        <div class="search">
            <form action="{{ path('front_search') }}" class="form relative" method="get">
                <input class="input" type="search" placeholder="Rechercher..." name="q" id="searchinput">
                <input type="submit" class="button" value="Rechercher">
                <div class="suggestions" id="suggestions"></div>
            </form>
        </div>
        <div class="w40">
            <div class="categories">
                <a href="{{ path('front_categories_list') }}">Catégories</a>
            </div>
            <div class="licences">
                <a href="{{  path('front_list_licence') }}">Licences</a>
            </div>
            <div class="log">
                <a href="{{ path('app_login') }}">
                    {% if app.user %}
                    {{ app.user.firstname }} {{ app.user.name  }}
                    {% endif %}
                    {% if app.user is null %}
                        Se connecter/S'inscrire
                    {% endif %}
                </a>
            </div>
        </div>
        <div class="menuh">
            <ul class="menuhamburger" id="menuhamburger">
                <li class="hambur" id="ham1"></li>
                <li class="hambur" id="ham2"></li>
                <li class="hambur" id="ham3"></li>
            </ul>
        </div>
        <div class="basket">
            <a href="{{ path('cart') }}"><img src="{{ asset('img/logo/panier.png') }}" alt="panier" class="cart"></a>{# path('front_basket') #}
        </div>
    </div>
    <div class="sidebarh" id="sidebarh">
        <a href="{{ path('front_categories_list') }}">Catégories</a>
        <a href="{{  path('front_list_licence') }}">Licences</a>
        <a href="{{ path('app_login') }}">
            {% if app.user %}
                {{ app.user.firstname }} {{ app.user.name  }}
            {% endif %}
            {% if app.user is null %}
                Se connecter/S'inscrire
            {% endif %}</a>
    </div>
</header>

{#
https://symfony.com/doc/3.4/templating/embedding_controllers.html
avec la syntaxe de : https://stackoverflow.com/questions/45396501/how-to-embed-controllers-in-a-template-using-symfony-4-directory-structure
#}
<div class="display-none">
    <ul>
        {{ render(controller('App\\Controller\\Front\\FrontCategoryController::categoriesAll')) }}
        {{ render(controller('App\\Controller\\Front\\FrontProductController::productsAll')) }}
        {{ render(controller('App\\Controller\\Front\\FrontLicenceController::licencesAll')) }}
    </ul>

</div>


<main class="main">
    {% block main %}
    {% endblock main %}
</main>

<footer >
    <div class="footer">
        <div class="info">
            <ul>
                <li class="about">
                    <a href="#">Informations</a>
                </li>
                <li>
                    <a href="#">Carrières</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="up">
            <a href="#top">Retour en haut</a>
        </div>
        <div class="social">
            <ul>
                <li><a href="https://fr-fr.facebook.com/"><img class="facebook" src="{{ asset('img/logo/facebook.png') }}" alt="facebook"></a></li>
                <li><a href="https://www.youtube.com/"><img src="{{ asset('img/logo/youtube.png') }}" alt="youtube"></a></li>
                <li><a href="https://twitter.com/?lang=fr"><img src="{{ asset('img/logo/twitter.png') }}" alt="twitter"></a></li>
            </ul>
        </div>
    </div>
</footer>

<script>
    let menu = document.getElementById('menuhamburger');
    let sidebar = document.getElementById('sidebarh')
    let h1 = document.getElementById("ham1");
    let h2 = document.getElementById("ham2");
    let h3 = document.getElementById("ham3");
    let main = document.querySelector("main");
    let footer = document.querySelector("footer");
    let element = document.querySelectorAll('.element');
    let elements = [];
    let suggestions = document.querySelectorAll(".suggestion");
    element.forEach(data => elements.push(data.innerHTML));
    const searchinput = document.getElementById('searchinput');
    searchinput.addEventListener('keyup', function (){
        const input = searchinput.value;
        const result = elements.filter(item => item.toLocaleLowerCase().includes(input.toLocaleLowerCase()));
        let suggestion = '';
        if(input != ''){
            result.forEach(resultItem =>
                suggestion +=`
        <div class="suggestion" onclick="choice('${resultItem}')">${resultItem}</div>
        `)
        }
            document.getElementById('suggestions').innerHTML = suggestion;
    })

    function choice(data)
    {
        document.getElementById('searchinput').value = data;
    }

    menu.addEventListener('click', () => {
        console.log(sidebar.style.display)
        if(sidebar.style.display === "none" || sidebar.style.display === ""){
            sidebar.style.display = "flex";
            h1.style.transform = "rotate(45deg) translateY(13px)";
            h2.style.opacity = "0";
            h3.style.transform = "rotate(-45deg) translateY(-13px)";
        }else{
            sidebar.style.display = "none";
            h1.style.transform = "rotate(0) translateY(0)";
            h2.style.opacity = "1";
            h3.style.transform = "rotate(0) translateY(0)";
        }

    })
</script>
{% block script %}
{% endblock %}
</body>
</html>
