{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="container">
        {% for licence in licences %}
            <div class="card br">
                <a href="{{ path('front_show_licence', {'id' : licence.id}) }}"><img src="{{ asset('img/media/' ~  licence.media ) }}"></a>
                <h1>
                    <a href="{{ path('front_show_licence', {'id' : licence.id}) }}">{{ licence.name }}</a>
                </h1>
                <h2>
                    {{ licence.description }}
                </h2>
            </div>

    {% endfor %}
    </div>
{% endblock %}