{% extends 'front/base.html.twig' %}

{% block main %}
    <div class="container-category">
        <h1>Voici les produits qui correspondent à la recherche  : {{ term }}</h1>
    </div>
    <div class="container">
        {% for product in products %}
            <div class="card">
                <a href="{{ path('front_show_product', {'id' : product.id}) }}"><img src="{{ asset('img/media/' ~ product.media[0].src) }}" alt="{{ product.media[0].alt }}" class="w60"></a>
                <h3><a href="{{ path('front_show_product', {'id' : product.id}) }}">{{ product.name }}</a></h3>
            </div>
        {% endfor %}
    </div>
    <div class="page">
        {{ knp_pagination_render(products) }}
    </div>
{% endblock %}